* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;
    font-family: 'Microsoft yahei';
    text-decoration: none;
}

/*改变ionic默认样式 开始*/
.bar .title {
    font-size: 16px;
}

/*去掉默认滚动条*/
ion-content {
    overflow: hidden;
}
/*改变ionic默认样式 结束*/

/*侧边栏 开始*/
#slide_left_top {
    width: 276px;
    height: 150px;
    background: #387ef5;
    text-align: center;
    padding-top: 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#slide_left_top .head_portrait {
    width: 50px;
    height: 50px;
    background: url("../images/head_portrait.png") no-repeat center center;
    margin: auto;
}

#slide_left_top .log_reg,
#slide_left_top .log_reg a {
    color: #ffffff;
    font-size: 14px;
}

#slide_left_top .log_reg {
    margin-top: 15px;
}

#slide_left_main {
    margin: 20px 0 0 0;
}

#slide_left_main ul li {
    line-height: 40px;
    height: 40px;
    margin-left: 40px;
}

#slide_left_main ul li a {
    color: #666666;
    font-size: 14px;
}

#slide_left_main ul li.line {
    width: 276px;
    height: 1px;
    background: #cccccc;
    margin: 10px 0;
}

#slide_left_main ul li span {
    float: right;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 18px;
    margin: 10px 40px 0 0;
    padding: 0 4px;
    background: #97beff;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.bar_positive_light {
    border-top: 1px solid #387ef5;
}

/*内容 开始*/
.cont {
    display: none;
}

.cont1 {
    display: block;
    padding-bottom: 30px;
}

/*第一页内容 开始*/
.cont1 .item_cosmetics_divider {
    padding: 0;
    min-height: 6px;
    height: 6px;
    overflow: hidden;
    background: orange;
}

.cont1 .cosmetics_pic {
    width: 102px;
    height: 102px;
    float: left;
}

.cont1 .cosmetics_pic img {
    width: 100px;
    height: 100px;
    border: 1px solid #e9e9e9;
    -webkit-box-shadow: 5px 5px 5px #dddddd;
    -moz-box-shadow: 5px 5px 5px #dddddd;
    box-shadow: 5px 5px 5px #dddddd;
}

.cont1 .skincare_describe {
    float: left;
    width: 60%;
    margin-left: 30px;
    text-align: left;
    padding-bottom: 10px;
}

.cont1 .skincare_describe h1 {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}


.cont1 .skincare_describe p:not(.skincare_price) {
    font-size: 12px;
    margin-left: 10px;
}

.cont1 .skincare_describe p.skincare_price {
    color: #ff9c7e;
    margin-top: 5px;
}

/*底部开始*/
#myFooter .footer_nav_list {
    width: auto;
    height: auto;
    margin: auto;
}

#myFooter .footer_nav_list li {
    float: left;
    margin-right: 30px;
}

#myFooter .footer_nav_list li:last-child {
    margin-right: 0;
}

#myFooter .footer_nav_list li i.ion-icon {
    font-size: 30px;
    color: #387ef5;
}

























